spring:
  datasource:
      url: jdbc:h2:mem:testDB
      username: sa
      password:
      driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
  sql:
    init:
      mode: never

