spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  jpa:
    open-in-view: false

  cloud:
    aws:
      credentials:
        access-key: ${AWS_S3_ACCESS_KEY}
        secret-key: ${AWS_S3_SECRET_KEY}
      region:
        static: ${AWS_S3_REGION:ap-northeast-2}
      s3:
        bucket: ${AWS_S3_BUCKET}

  batch:
    job:
      enabled: false

  flyway:
    baseline-on-migrate: true

deokhugam:
  ocr:
    api-key: ${OCR_API_KEY}

  naver:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}